$white: #fff;
$black: #121212;
$dark: #1a1a1a;
$silver: #868686;
$darkgray: #424242;
$gray: #7d8893;
$lightgray: #cbd2dc;
$red: #e7020f;

$primary-color: $black;
$secondary-color: $darkgray;
$accent-color: $red;

$default-text-color: $black;
$dark-text-color: $white;

$default-bg-color: $white;
$dark-bg-color: $black;

$border-color: $lightgray;
$border-text-color: $gray;
